.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
  }
  .lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
  }
  .container__botao {
    display: none;
  }
